.table-item {
  background-color: #fff;
  border-bottom: 1px solid #D8DDE3;
  vertical-align: top;
  &:hover {
    background-color: #DFF3F7;
    cursor: pointer;
  }
  &__status {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    padding: .2rem 1rem;
    border-radius: 2rem;
    text-align: center;
    &--active {
      background-color: rgba(25,187,80,0.2)
    }
    &--unactive {

      color: #828B96;
      background-color: rgba(#6c7786,0.2);
    }
  }
  td{
    padding: 16px 12px 10px 15px;
  }
  td:last-child{
    padding: 16px 0 20px 0;
    text-align: center;
  }
  @media(max-width: 940px ){
    td {
padding: 7px 6px 5px 7px;
    }
  }
  &__address {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    white-space: nowrap ;
    color: #00A7C7;
  }
  &__city {
    white-space: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #828B96;
  }
}

