.modal-form{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0,0,0,.7);
  &__wrap {
    position: fixed;
    width: 100%;
    max-width: 327px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &__header {
    padding: 20px;
    border-radius: 1rem 1rem 0 0;
    background-color: #ECEEF1;
    margin-bottom: -1px;
  }
  &__title {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }
  &__close{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    &:before {
      background-color: #969696;
    }
    &:after {
      background-color: #969696;
    }
  }
  &__content {
    padding: 20px;
    padding-bottom: 35px;
    border-radius: 0 0 1rem 1rem;
    background-color: #fff;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__input {
    height: 38px;
    border: 1px solid #D8DDE3;
    border-radius: 8px;
  }
  &__label {
    margin-bottom: 5px;
  }
}